*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  background:
    linear-gradient(rgba(0,0,0,0.35), rgba(0,0,0,0.35)),
    url("ship.jpg") center / cover no-repeat;
  min-height: 100vh;
  color: white;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
}

.logo img{
  height: 60px;
  width: 80px;
}

nav ul{
  list-style: none;
  display: flex;
  gap: 25px;
}

nav a{
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: 0.3s;
}

nav a:hover{
  color: #00d4ff;
}

.container{
  width: 40%;
  min-width: 300px;
  height: 60vh;
  margin: 8% auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  background: rgba(0,0,0,0.45);
  backdrop-filter: blur(5px);
  border-radius: 20px;

  box-shadow: 0 0 20px rgba(255,255,255,0.2);
}

.container h1{
  font-size: 40px;
  margin-bottom: 15px;
}
.container p{
  font-size: 18px;
  margin-bottom: 20px;
}

.container button{
  padding: 12px 25px;
  border: none;
  border-radius: 25px;
  background: #00d4ff;
  color: black;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.container button:hover{
  background: white;
}




 
